<footer layout="row">
    <div class="div-footer" style="color: #744972">
        <div class="div-grid"> 
            <div class="div-logo div-pb" >
                <img class="img-logo" src="../../../assets/logo-png-ws.png">
            </div>  
            <span class="div-pb" style="width: 90%;">
                Psicóloga clínica e psicanalista com demandas relacionadas a ansiedade, depressão, transtornos de humor, relacionamentos, violências e bipolaridade.
            </span>
            <div class="div-pb">
                <mat-icon class="icon-calculo">call</mat-icon>
                <span style="position: absolute">(71) 99999 9999</span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo">mail</mat-icon>
                <span style="position: absolute">exemplo@gmail.com</span>
            </div>     
            <div class="div-pb">
                <mat-icon class="icon-calculo">mail</mat-icon>
                <span style="position: absolute">exemplo@gmail.com</span>
            </div>      
            <div class="div-pb">
                <mat-icon class="icon-calculo">location_on</mat-icon>
                <span style="position: absolute">	
                    AV. LÉDIO JOÃO MARTINS, 500 - KOBRASOL, SÃO JOSÉ - SC
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem;font-size: 22px;">Especialidades</span>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRATAMENTO DE DEPRESSÃO
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRATAMENTO DE ANSIEDADE
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRANSTORNOS DE HUMOR
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    RELACIONAMENTOS
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    VÍTIMAS DE VIOLÊNCIA
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem; font-size: 22px;">Contato</span>
            <div class="form-container">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <input style="padding-bottom: 0.5rem;" type="text" id="name" formControlName="name"
                        placeholder="Seu nome">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                        <small class="error">O campo é obrigatório.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="email" id="email" formControlName="email"
                        placeholder="Seu e-mail">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['email']">Email inválido.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="tel" id="number" formControlName="number"
                        placeholder="Seu WhatsApp">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('number')?.invalid && contactForm.get('number')?.touched">
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['pattern']">Formato de número
                            inválido.</small>
                    </div>

                    <textarea style="padding-bottom: 0.5rem;" id="message" formControlName="message" rows="8"
                        placeholder="Mensagem"></textarea>
                    <div style="display: flex;margin-top: -11px;margin-bottom: 1rem;" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                        <small class="error">Mensagem é obrigatória.</small>
                    </div>

                    <button type="submit">Enviar Mensagem</button>
                </form>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 1rem; padding-top: 2rem;color: #744972" >
        <span class="spam-flex-justify" >
            © 2023. Todos os Direitos Reservados.
        </span>
    </div>
  </footer>