<div class="div-body">
    <div class="display-mobile">
        <div style="width: 100%;">         
            <span >
                <img class="image-container" src="../../../assets/foto12.jpeg">               
            </span>         
        </div>
    </div>
    <div class="text-name">       
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">WALESKA SILVEIRA</span>    
            <hr class="style-hr">     
            <span class="spam-flex-justify" style="font-size: 20px">Psicanalista e Hipnoterapeuta</span>   
        </div> 
        <div class="div-calculo-dose-cards">
            <div class="div-calculo-dose">
                <div class="card card-border-1">
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">support_agent</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ATENDIMENTO ON-LINE</p>
                    </div>
                </div>
                <div class="card card-border-1"  >
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">group</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ATENDIMENTO PRESENCIAL</p>
                    </div>
                </div>
                <div class="card card-border-1"  >
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">pending_actions</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">HORÁRIO FLEXIVEL</p>
                    </div>
                </div>
                <div class="card card-border-1">
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">handshake</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ACESSÍVEL</p>
                    </div>
                </div>                
            </div>
        </div>
        <hr class="style-hr">  
    </div>

    <div class="div-sobre">
        <div class="image-container2 div-foto" >
            <!-- Aqui vai a imagem -->           
            <img src="./../../assets/foto8.jpeg">
        </div>
        <div class="text-container div-info " style="color: #744972;">   
            <div style="padding-bottom: 1rem;">
                <p class="no-margin">Olá! meu nome é</p>
                <p class="name-home no-margin" style="font-size: 25px;">WALESKA SILVEIRA</p>
            </div>
            <div class="p-text-info">
                <p >
                    Sou Waleska Silveira, psicanalista e hipnoterapeuta, especialista em sexualidade e neurociência, com
                    vasta experiência em atendimento clínico.
                    Minha paixão é guiar pessoas em suas jornadas de autoconhecimento e transformação pessoal.
                    Meu trabalho é focado em promover a saúde mental e o bem-estar emocional. Utilizo técnicas
                    inovadoras e eficazes para tratar uma ampla gama de questões
                    psicológicas e emocionais.
                </p>
            </div>      
            <div class="div-button" style="width: 100%;">
                <div class="card-button " style="display: flex; background-color: #744972;justify-content: space-evenly; height: 4rem;" >
                    <div class="div-flex-center marg-icon-wpp">                        
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;" (click)="whatsapp()">AGENDAR VIA WHATSAPP</p>
                    </div>
                </div>
                <div class="card-button " style="background-color: #744972; height: 4rem;" >                
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards text-wpp" style="padding-top: 1.5rem; font-size:12px" (click)="about()">CONHEÇA MAIS</p>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
</div>




