<div class="div-body">
    <!-- <div class="display-mobile">
        <div style="width: 100%;">
            <span>
                <img class="image-container" src="../../../assets/Butterfly.jpg">
            </span>
        </div>
    </div> -->
    <div class="text-name" style="padding-top: 7rem;">
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">BLOG</span>
            <hr class="style-hr">
        </div>
    </div>

    <div class="div-sobre div-curva">
        <div class="text-container div-info" style="color: #744972;">
            <div style="padding-bottom: 1rem; display: flex;">
                <div>
                    <p class="name-home no-margin" style="font-size: 25px;">@waleskasilveirapsi</p>
                    <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
                </div>
                <div class="div-flex-center marg-text-wpp">
                    <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;color: #744972; padding-left: 15px;">SEGUIR</p>
                </div>
            </div>
            <div class="instagram-grid">
                <div *ngFor="let post of instagramPosts" class="instagram-card" (click)="openInstagramPost(post.permalink)">
                
                  <div *ngIf="post.media_type === 'VIDEO'" class="card-content">
                    <video class="card-insta" controls>
                      <source [src]="post.media_url" type="video/mp4" controlsList="nodownload" controls="false" muted preload="auto">                     
                    </video>
                  </div>
                  <div *ngIf="post.media_type === 'IMAGE'" class="card-content">
                    <img [src]="post.media_url" alt="Instagram Image" class="card-insta">
                  </div>
                  <div *ngIf="post.media_type === 'CAROUSEL_ALBUM'" class="card-content">
                    <img [src]="post.media_url" alt="Instagram Carousel" class="card-insta">
                  </div>
                </div>
              </div>
        
            <!-- <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #744972;justify-content: space-evenly; height: 4rem;">
                    <div class="div-flex-center marg-icon-wpp">
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;">AGENDE SUA CONSULTA</p>
                    </div>
                </div>               
            </div> -->
        </div>
        <!-- <div class="image-container2 div-foto">            
            <img src="./../../assets/foto4.jpeg">
        </div> -->
        <div class="div-calculo-dose-cards" style="width: 100%;">
            <div class="div-calculo-dose">
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="image-container2 ">
                        <img src="./../../assets/foto4.jpeg">
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards" style="font-size: 22px; padding-top: 1rem;line-height: 26px;">Porque é tão difícil tomar decisões?</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards"><b>Psicanalista Waleska Silveira </b></p>
                        <p style="margin-left: 5px"> - 29/11/2020</p>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">Somos seres humanos únicos e em constante desenvolvimento e isso significa que ninguém é igual a ninguém. Cada um pensa e age de uma...</p>
                    </div>
                </div>
            
               
           
            
            
            </div>
        </div>
    </div>
</div>